<%= form_with(model: order, local: true) do |form| %>
<div class="field">
    <%= form.label :GuestName %>
    <%= form.text_field :guest_name, id: :order_guest_name %>
  </div>

<div class="field">
    <%= form.label :GuestEmail %>
    <%= form.text_field :guest_email, id: :order_guest_email %>
  </div>

  <div class="field">
    <%= form.label :ordershipaddress %>
    <%= form.text_field :ordershipaddress, id: :order_ordershipaddress %>
  </div>

  <div class="field">
    <%= form.label :ordercity %>
    <%= form.text_field :ordercity, id: :order_ordercity %>
  </div>

  <div class="field">
    <%= form.label :guestphone %>
    <%= form.text_field :guest_phone, id: :order_guest_phone %>
  </div>

  <div class="field">
    <%= form.label :orderemail %>
    <%= form.text_field :orderemail, id: :order_orderemail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>