<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Orderamount</th>
      <th>Ordershipaddress</th>
      <th>Ordercity</th>
      <th>Orderdate</th>
      <th>Ordershipped</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.orderamount %></td>
        <td><%= order.ordershipaddress %></td>
        <td><%= order.ordercity %></td>
        <td><%= order.order_date %></td>
        <td><%= order.shipped %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
