<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
        <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% subtotal = 0 %>
    <% @cart.items.each do |item| %>
      <tr>
        <td><% product = Product.find_by(id: item.product_id) %> <%= product.name %></td>
        <td><%= item.icount %></td>
          <td><%= product.price %> <% subtotal += product.price * item.icount %></td>
          
        <td><%= link_to 'delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
      </tr>
    <% end %>
      <tr><td></td><td>Subtotal:</td><td><%= subtotal %></td></tr>
  </tbody>
</table>
<%= link_to 'confirm', controller: "carts", action: "confirm", :val => cookies.signed[:subtotal] = subtotal if subtotal > 0 %>

<br>
