<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
        <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.items.each do |item| if @cart.items%>
      <tr>
        <td><% product = Product.find_by(id: item.product_id) %> <%= product.name %></td>
        <td><%= item.icount %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
