<%= form_with(model: product, local: true) do |form| %>
 
  <div class="field">
    <%= form.label :productname %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :productprice %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :productweight %>
    <%= form.text_field :weight, id: :product_weight %>
  </div>

  <div class="field">
    <%= form.label :productdesc %>
    <%= form.text_area :desc, id: :product_desc %>
  </div>

  <div class="field">
    <%= form.label :productthumb %>
    <%= form.text_field :thumb, id: :product_thumb %>
  </div>

  <div class="field">
    <%= form.label :productimage %>
    <%= form.text_field :image, id: :product_image %>
  </div>

  <div class="field">
    <%= form.label :Category %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, {:include_blank => 'Select Category'} ) %>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.number_field :quantity, id: :product_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
